.lblhead {
    font-size: 2em;
    font-weight: bold;
  }

  .lbldesc {
      font-size: 1em;
      font-weight: bold;
  }

  .lblcontent {
    font-size: 1em;
}

.lbltangerine {
  font-family: 'Tangerine';
  font-weight: bold;
}