<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="home" text="Details View" ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=10 offset=1 size-md=6  offset-md=3>
         
                <div *ngIf='title'><ion-label  class="lblhead">{{title}}</ion-label></div>
                <p></p>

                <div *ngIf='urlToImage'>
                  <img src= {{urlToImage}}>
                </div>
                <p></p>

                <div *ngIf='description'><ion-label  class="lbldesc">{{description}}</ion-label></div>
                <p></p>

                <div *ngIf='content'><ion-label class="lblcontent">{{content}}</ion-label></div>
                <p></p>

                <div *ngIf='author'><ion-label class="lblcontent lbltangerine"> Author : {{author}}</ion-label></div>
                <p></p>

                <div *ngIf='publishedAt'><ion-label class="lblcontent lbltangerine"> Pulished at : {{publishedAt}}</ion-label></div>
                <p></p>
           
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
